@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(style.css);
@import url(style-footer.css);

.banner3 {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.900), rgba(0, 0, 0, 0.800)), url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.musicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0px 200px;
    padding:20px;
    background-color: white;
    border-radius: 20px;

}

.titulo {
    width: 100%;
    text-align: center;
    background-color: #323232;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    word-spacing: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tituloIpanema {
    color: white;
    background-color: #e6d926;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.musicas-player p,
.music-playe2 P {
    text-align: justify;
    padding-bottom: 20px;
}

.spotify {
    width: 3px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.spotify iframe {
    width: 500px;
    height: 200px;
    border: none;
    border-radius: 12px;
}

.hrMusicas {
    border: none;
    border-bottom: 2px solid #323232;
    width: 100%;
    margin: 2px 0;
}

.tituloMasquenada {
    color: white;
    background-color: #70da66;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.musicas-player,
.music-playe2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.musicas-player div,
.music-playe2 div {
    flex: 1;
    margin-right: 0px;
}