@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color:#000000;
}

/*Estilizações home page e header*/

/*HEADER*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px 60px;
    background-color: #313131;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

header ul{
    display: flex;
    align-items: center;
    justify-content: center; 
    list-style: none;
    flex-grow: 1;
    gap: 3.1rem;
}

header .logo a{
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}

header li{
    list-style: none;
}

header .logo{
    margin-right: -10rem; 
}

header li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.4s;
}

header li a:hover{
    background-color: white;
    color: black;
    opacity: 1;
    transform: translateY(-20px);
    transition: all 0.4s;
}

.icone{
    margin-left: auto; /* Corrigido para garantir que o ícone esteja alinhado à direita */
}

.icone ion-icon{
    color: #ffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px;
    
}

.icone ion-icon:hover{
    border-radius: 10px;
    background-color: white;
    color: black;
    opacity: 1;
    transform: translateY(-5px);
    transition: all 0.1s;
}

/*FIM HEADER*/

hr{
    border: none;
    border-bottom: solid 2px rgb(102, 102, 102);
}

/*HOME PAGE*/

.banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.900),rgba(0,0,0,0.600)),url(/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.texto .titulo{
    color: white;
    font-size: 55px;
    font-weight: 600;
    word-spacing: 5px
}

.texto .titulo2{
    color: white;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8; 
}


.texto .botoes{
    margin-top: 30px;
}

.texto .botoes a{
    font-size: 30px;
    display: inline-block;
    padding: 10px 25px;
    background: #313131;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.4s;
}

.texto .botoes a:hover{
    background-color: white;
    color: black;
    opacity: 1;
    transform: translateY(-10px);
    transition: all 0.4s;
}

/*FIM HOMEPAGE*/
