@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(style.css);

/*Estilizações Footer*/

footer{
    background-color: #323232;
}

footer .rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.informacoes-rodape ul{
    display: flex;
    list-style: none;
    padding: 20px;
    gap: 30px;
}

.titulo-rodape a{
    text-decoration: none;
    color: rgb(192, 192, 192);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.titulo-rodape a:hover{
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: all 0.4s;
}

.informacoes-rodape li a{
    text-decoration: none;
    color: rgb(161, 161, 161);
    font-size: 18px;
    font-weight: 500;
    
    border-radius: 5px;
    transition: all 0.4s;
}

.informacoes-rodape li a:hover{
    color: rgb(255, 255, 255);
    opacity: 1;
    transition: all 0.4s;
}

.icons .icone-rodape ion-icon{
    color: rgb(192, 192, 192);
    font-size: 20px;
    padding: 12px;
}

.icone-rodape ion-icon:hover{
    border-radius: 30px;
    
    color: rgb(255, 255, 255);
    opacity: 1;
    transform: translateY(-8px);
    transition: all 0.4s;
}
.direitos{
    padding: 2px;
    text-align: center;
    background-color: rgb(102, 102, 102);
}